<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>EasyText</title>
</head>
<body>
    <div class="center">
        <h1>EasyText</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <div class="inputs">
                <label for="input_data">Input Image:</label>
                <input type="file" id="input_image" name="input_image" accept="image/*" required>
            </div>
            <button type="submit">Predict</button>
        </form><br><br>
        {% if result %}
            <img src="{{ url_for('static', filename='tempimg.png') }}" alt="Uploaded Image">
            <p>{{ result }}</p>
        {% endif %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
